.home-page {
    width: 100vw;
}

.home-slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.home-title {
    font-size: 5rem !important;
    margin: 0;
    font-weight: bolder !important;
}

.home-slide:first-child {
    height: 95vh;

    background-image: url("/backgrounds/home-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-slide > div {
    padding: 0 10%;
    width: 100%;
}

.home-slide > div > *+* {
    margin-top: 2rem;
}

.home-slide-1 {
    text-align: left;
    background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(147, 197, 114, 0.22) 0%,
            rgba(147, 197, 114, 0.56) 100%
    );
}

.home-slide-2 {
    text-align: right;
}


.home-footer {
    background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(147, 197, 114, 0.22) 0%,
            rgba(147, 197, 114, 0.56) 100%
    );
}
