.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    border: 4px solid #263A29;
    border-radius: 15px;
    /*backdrop-filter: blur(14px);*/
    /*background-color: rgba(255, 255, 255, 0.53);*/
    background:
            radial-gradient(50% 50% at top left, rgba(232, 227, 110, 0.45) 0%, rgba(247, 188, 101, 0.331642) 35.94%, rgba(66, 255, 0, 0) 82.29%, rgba(253, 196, 196, 0) 94.27%),
            radial-gradient(50% 50% at bottom right, rgba(232, 227, 110, 0.45) 0%, rgba(247, 188, 101, 0.331642) 35.94%, rgba(66, 255, 0, 0) 82.29%, rgba(253, 196, 196, 0) 94.27%),
            rgba(255, 255, 255, 0.93);


    min-width: 60vw;
    min-height: 60vh;
}