

.cb-link {
    text-decoration: none;
    color: black;
}

.cb-link:hover {
    cursor: pointer;
}

.cb-link:active {
    position: relative;
    top: 0.1rem;
}

.cb-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.cb-button {
    /*padding: 0.5rem 1rem;*/
    background-color: white;
    /*border: 2px solid black;*/

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.85rem;

    border: 3px solid #41644A;
    color: #41644A;
    border-radius: 5px;

    padding: 0.5rem 1rem;
}

.cb-button--outline {
    background-color: #41644A;
    color: white;
}

.cb-button:hover {
    cursor: pointer;
}

.cb-button:active {
    position: relative;
    top: 3px;
}

.cb-button--outline:disabled {
    background-color: #525252;
}

.cb-big-title {
    font-size: 4.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #263A29;
}

.cb-big-subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #263A29;
}


.cb-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cb-form-title {
    text-align: center;
    margin-bottom: 4rem;
}

.cb-form-error {
    color: red;
}

.cb-form div+div {
    margin-top: 1rem;
}

.cb-form input {
    border: 2px solid black;
    border-radius: 25px;

    padding: 0.3rem 1rem;

    width: 400px;
}

.cb-form button {
    padding: 0.5rem 0.75rem;
    min-width: 200px;
}

.cb-form button:disabled {
    background-color: #98a197;
}


.cb-fancy {
    font-family: 'Courgette', cursive;
    color: #41644A !important;
    font-size: 1.15rem;
}

.cb-card {
    background-color: white;
    border: 2px solid #263A29;
    border-radius: 40px;
    padding: 1.5rem 2rem;
}

.cb-card-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
}

.cb-card-hline {
    border-left: 2px solid #263A29;
    margin-left: 1rem;
    margin-right: calc(1rem + 2px);
}


.cb-input {
    border: none;
    background: none;
    outline: none;
}


@media only screen and (max-width: 1024px) {
    .cb-big-title {
        font-size: 3.1rem;
    }
    .cb-big-subtitle {
        font-size: 1.5rem;
    }
}