

.cb-link {
    text-decoration: none;
    color: black;
}

.cb-link:hover {
    cursor: pointer;
}

.cb-link:active {
    position: relative;
    top: 0.1rem;
}

.cb-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.cb-button {
    /*padding: 0.5rem 1rem;*/
    background-color: white;
    /*border: 2px solid black;*/

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.85rem;

    border: 3px solid #41644A;
    color: #41644A;
    border-radius: 5px;

    padding: 0.5rem 1rem;
}

.cb-button--outline {
    background-color: #41644A;
    color: white;
}

.cb-button:hover {
    cursor: pointer;
}

.cb-button:active {
    position: relative;
    top: 3px;
}



.cb-big-title {
    font-size: 4.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #263A29;
}

.cb-big-subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #263A29;
}


@media only screen and (max-width: 1024px) {
    .cb-big-title {
        font-size: 3.1rem;
    }
    .cb-big-subtitle {
        font-size: 1.5rem;
    }
}